* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
}

.container-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 3cm;
}

.titulo {
	font-size: 3.2em;
	line-height: 1.1;
	text-align: center;
	margin-bottom: 20px;
}

.video-container {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	margin-top: 20px;
}

.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h2 {
	text-align: center;
	margin-top: 20px;
}

h3 {
	text-align: center;
	margin-top: 20px;
}

p {
	text-align: justify;
	margin-top: 20px;
}

.container-product-detail {
	padding: 30px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.img-detail {
	border-radius: 10px;
	border: 2px solid;
	transition: 0.5s;
	width: 50%;
}

.img-detail:hover,
.item-detalles:hover {
	box-shadow: 5px 5px 10px;
}

.item-detalles {
	background-color: rgb(211, 24, 24);
	padding: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 2px solid;
	border-radius: 10px;
	transition: 0.5s;
	width: 50%;
	height: 45vh;
}

.cssNav {
	background-color: rgb(223, 26, 26);
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 0px 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.text-links {
	color: black;
}

.cart {
		width: 40px; 
		height: 40px; 
		background-color: white;
		border-radius: 50%; 
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0; 
		line-height: 40px; 
		background-size: cover; 
	}
	

.empty-cart-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contador-cart {
	background-color: white;
	height: 22px;
	width: 22px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	font-weight: 700;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 0;
	margin-left: 5px;
	color: white;
}

.container-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 20px 0;
}

.card-img {
	height: 190px;
}

#basic-nav-dropdown {
	color: white;
}

.button-container {
	display: flex;
	align-items: center;
}

.card {
	transition: 0.5s;
}

.card:hover {
	box-shadow: 5px 5px 10px 0px;
}

.btn-font {
	font-size: 15px;
	margin-right: 10px;
}

.footer {
    background-color: rgb(223, 26, 26);
    color: white;
	padding-right: 50px;
	padding-left: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container span {
    font-weight: bold;
    margin-right: 10px; 
}

.footer-container span a {
    color: white; 
    text-decoration: none; 
}

.footer-nav .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav .nav-link:hover {
    color: black;
}

