* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.logo-menu {
    height: 150px;
}
navbar-collapse {
    flex-grow: 0;
}
a .nav-link {
    font: #00adb5 !important;
}
.div-img {
    max-height: 400px;
}
.page-not-found{
    width: 100vh;
}
